@using LearningWebSite.Core.ViewModel.BasketVM
@model List<ShowBasketVM>
@{
    ViewData["Title"] = "مرور سبد خرید";
}
<br />
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">
        @ViewBag.Error
    </div>
}
@if (Model != null)
{
    <div class="container">
        <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="fw-normal mb-0 text-black">سبد خرید</h3>
                        </div>

                        <form action="/Course/Payment" method="post">
                            @foreach (var item in Model)
                            {
                                <input hidden name="courseId" value="@item.CourseId" />
                                <input hidden id="orderId" name="orderId" value="@ViewBag.orderId" />
                                <div class="card rounded-3 mb-4 text-center" id="removeTr-@item.BasketId">
                                    <div class="card-body p-4">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="/CourseImage/thumb/@item.CourseImage" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                            </div>
                                            <div class="col-md-4">
                                                <p class="lead fw-normal mb-2">@item.CourseTitle</p>
                                            </div>
                                            <div class="col-md-4">
                                                <h5 class="mb-0">@item.CoursePrice.ToString("#,#") تومان</h5>
                                            </div>
                                            <div class="col-md-1 text-center">
                                                <button type="button" onclick="submitDeletebasketForm('/RemoveBasket/',@item.BasketId)" class="text-danger">
                                                    <i class="fas fa-trash fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="card rounded-3 mb-4">
                                <div class="card-body p-4">
                                    <div class="col-12 row">
                                        <h5 class="mb-0" id="sumOrder"></h5>
                                        <div class="col-6"></div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <label for="walletPay">پرداخت با کیف پول</label>
                                                    <input type="radio" value="wallet" name="paymethod" id="walletPay" aria-label="Radio button for following text input">
                                                    <input type="number" disabled class="form-control text-center p-0" aria-label="Text input with radio button">تومان @ViewBag.UserWallet
                                                    <button type="submit" class="btn btn-outline-success mt-3"> پرداخت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <label for="onlinePay">درگاه پرداخت</label>
                                                    <input type="radio" value="online" name="paymethod" id="onlinePay" aria-label="Radio button for following text input">
                                                    <button type="submit" class="btn btn-outline-primary">درگاه پرداخت</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <div class="card mb-4">
                            <div class="card-body p-4 d-flex flex-row">
                                <div class="form-outline flex-fill">
                                    <div class="col-6">
                                        <label class="form-label" for="form1">کد تخفیف</label>
                                        <input type="text" placeholder="کد تخفیف خود را وارد نمایید..." name="discountCode" id="discountCode" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="button" id="discountSubmit" class="btn btn-outline-info btn-block mb-2">اعمال کد تخفیف</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

}
@section Scripts{
    <script src="/js/deleteScript.js"></script>
    <script>
        $(document).ready(function () {
            getsum();
        });
        function getsum() {
            var rial = Intl.NumberFormat('fa-IR');
            $.ajax({
                cache: false,
                type: "POST",
                url: "/getOrdersum",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#sumOrder").text("جمع کل خرید: " + rial.format(result.sum) + " تومان");
                },
                error: function (xhr, textStatus, errorThrown) { alert(textStatus + ':' + errorThrown); }
            });
        }
    </script>
    <script>
        $("#discountSubmit").click(userDiscount);
        function userDiscount() {
            var codediscount = $("#discountCode").val();
            var orderIdClient = $("#orderId").val();
            console.log(codediscount);
            console.log(orderIdClient);
            $.ajax({
                type: 'GET',
                url: '/useDiscount',
                data: { code: codediscount, orderId: orderIdClient },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result.code === 200) {
                        getsum();
                        $("#discountCode").val("");
                        Swal.fire({
                            icon: 'success',
                            title: 'موفق',
                            text: result.message,
                        });
                    }
                    if (result.code === 404) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 300) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 500) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 501) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'اوپس...',
                        text: 'مشکلی پیش اومد...!',
                    });
                }
            })
        }

    </script>

}