@using LearningWebSite.Core.ViewModel.BasketVM
@model List<ShowBasketVM>
@{
    ViewData["Title"] = "مرور سبد خرید";
}
<br />
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">
        @ViewBag.Error
    </div>
}
@if (Model != null)
{
    <div class="container py-5">
        <div class="py-5 text-center">
            <h2>تسویه حساب</h2>
        </div>
        <form class="needs-validation" novalidate action="/Course/Payment" method="post">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">سبد خرید</span>
                        <span class="badge badge-secondary badge-pill">تعداد آیتم های سبد خرید (@Model.Count)</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model)
                        {
                            <input type="hidden" name="courseId" value="@item.CourseId" />
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@item.CourseTitle</h6>
                                </div>
                                <span class="text-muted">@item.CoursePrice.ToString("#,0")</span> تومان
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">قیمت با تخفیف</h6>
                                <small id="discountName"></small>
                            </div>
                            <span class="text-success" id="sumOrder2"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>قیمت کل:</span>
                            <span id="sumOrder"></span>
                            <input type="text" id="sumorderinput" name="sumOrder" style="display:none;" />
                        </li>
                    </ul>

                    <input hidden id="orderId" name="orderId" value="@ViewBag.orderId" />
                    <div class="input-group">
                        <input type="text" id="discountCode" name="discountCode" class="form-control" placeholder="کد تخفیف خود را وارد نمایید...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="discountSubmit">اعمال کد تخفیف</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <hr class="mb-4">

                    <h4 class="mb-3">نحوه پرداخت</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="online" name="paymethod" id="onlinePay" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label pr-4" for="credit">درگاه پرداخت</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input value="wallet" name="paymethod" id="walletPay" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label pr-4" for="debit">کیف پول</label>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block ml-5" type="submit">پرداخت</button>
                </div>
            </div>
        </form>

    </div>
}
@section Scripts{
    <script src="/js/deleteScript.js"></script>
    <script>
        $(document).ready(function () {
            getsum();
        });
        function getsum() {
            var rial = Intl.NumberFormat('fa-IR');
            $.ajax({
                cache: false,
                type: "POST",
                url: "/getOrdersum",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#sumOrder").text("جمع کل خرید: " + rial.format(result.sum) + " تومان");
                    $("#sumOrder2").text("" + rial.format(result.sum) + " تومان");
                    $("#sumorderinput").val(result.sum);
                    console.log($("#sumorderinput").val());
                },
                error: function (xhr, textStatus, errorThrown) { alert(textStatus + ':' + errorThrown); }
            });
        }
    </script>
    <script>
        $("#discountSubmit").click(userDiscount);
        function userDiscount() {
            var codediscount = $("#discountCode").val();
            var orderIdClient = $("#orderId").val();
            $("#discountName").text(codediscount);
            $.ajax({
                type: 'GET',
                url: '/useDiscount',
                data: { code: codediscount, orderId: orderIdClient },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (result) {
                    if (result.code === 200) {
                        getsum();
                        $("#discountCode").val("");
                        Swal.fire({
                            icon: 'success',
                            title: 'موفق',
                            text: result.message,
                        });
                    }
                    if (result.code === 404) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 300) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 500) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                    if (result.code === 501) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'هشدار!',
                            text: result.message,
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'اوپس...',
                        text: 'مشکلی پیش اومد...!',
                    });
                }
            })
        }

    </script>

}