@using LearningWebSite.Core.Services.CourseService
@using LearningWebSite.Core.ViewModel.CourseVM
@model ShowCourseViewModelWithIndex
@inject ICourseService _course;
@{

    ViewData["Title"] = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";

    int counter = 1;
}
<div class="row d-felx justify-content-center align-content-center align-items-center">
    <div class="col-10">

        <br>

        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h1 class="h5">لیست دوره ها</h1>
                <div>
                    <a class="btn btn-default btn-sm" href="/Admin/Course">خالی کن</a>
                    <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#frmFilter" role="button"
                        aria-expanded="false" aria-controls="collapseExample">جستجو دوره</a>
                    <a class="btn btn-outline-success btn-sm" asp-area="Admin" asp-controller="Course"
                        asp-action="CreateCourse">افزودن دوره</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <div class="collapse" id="frmFilter">
                            <div class="card mb-3 border-info">
                                <div class="card-header bg-info h5 text-light">فیلتر</div>
                                <div class="card-body">
                                    <form class="form-horizontal" method="get" asp-area="Admin" asp-controller="Course" asp-action="Index">
                                        <div class="form-group row">
                                            <label class="col-md-3" for="txtTitle">نام دوره :</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="txtTitle" name="courseName"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">جستجو</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-bordered d-lg-table table-responsive-lg col-12">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">تصویر</th>
                            <th scope="col">عنوان دوره</th>
                            <th scope="col">تعداد جلسه</th>
                            <th scope="col">دستورات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.showCourseViewModels)
                        {

                            var count = _course.GetEpisodeCount(item.CourseId);
                            <tr id="removeTr-@item.CourseId">
                                <td scope="col">
                                    @counter
                                </td>
                                <td scope="col">
                                    <img src="/CourseImage/thumb/@item.CourseImageName" class="img-thumbnail"
                                    style="max-height: 150px;max-width150px;" />
                                </td>
                                <td scope="col">
                                    @item.CourseTitle
                                </td>
                                <td scope="col">
                                    @count
                                </td>

                                <td scope="col">
                                    <a asp-area="Admin" asp-controller="Course" asp-action="EditCourse"
                                    asp-route-courseId="@item.CourseId" class="btn btn-warning btn-sm">
                                        ویرایش
                                    </a>
                                    <a asp-area="Admin" asp-controller="Course" asp-action="IndexEpisode"
                                    asp-route-courseId="@item.CourseId" class="btn btn-info btn-sm">
                                        بخش های دوره
                                    </a>
                                    <button onclick="submitDeleteForm('/DeleteCourse/',@item.CourseId)" type="button"
                                    class="btn btn-outline-danger btn-sm">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </td>
                            </tr>

                            counter++;

                        }
                    </tbody>
                </table>
                <hr />
                <nav aria-label="Page navigation example" dir="rtl">
                    <form asp-area="Admin" asp-controller="Course" asp-action="Index" method="get" id="pageForm">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="قبلی">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                            </li>
                            @for (int i = 1; i <= Model.PageCount; i++)

                            {
                                @if (i != Model.CurrentPageIndex)

                                {
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>

                                }

                                else

                                {
                                    <li class="page-item active"><a class="page-link">@i</a></li>

                                }

                            }
                            <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="بعدی">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </li>
                        </ul>
                    </form>
                </nav>
            </div>
        </div>

    </div>
</div>
@* ///////////////////////////// *@

@*/////////////////////////////////////*@

@section Scripts{

<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        $("#pageForm").submit();
    }
</script>
}